.socialIcons {
  display: flex;
  justify-content: flex-end;

  a {
    padding: 10px
  }

  i {
    color: #bbbbbb;
    transition: color 0.4s ease-out;
    font-size: 1.2em;
  }

  li:not(:last-child) {
    margin-right: 5px;
  }

  a:hover i {
    color: #ffffff;
  }
}
