.testimonial {

  &-title {

    background-color: #3e95e4;
    color: white;
    text-align: center;
    padding: 40px;

    h2 {
      font-size: 1.8em;
      margin: 0;
      font-weight: 100;
      font-family: "Roboto", Arial, Tahoma, sans-serif;
    }
  }

  &-logos {
    text-align: center;
    padding: 0;
    background-color: #ffffff;

    .col-3 {
      margin-top: 0;
    }

    .buttonInvisible {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      transition: opacity 0.4s ease-out;

      &.is-active {
        img {
          opacity: 1;
        }

        @media only screen and (min-width: $breakpoint-med) {
          &:before {
            top: -10px;
            left: 50%;
            border-style: solid;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(62, 149, 228, 0);
            border-top-color: #3e95e4;
            border-width: 20px;
            margin-left: -20px;
          }
        }
      }
    }

    img {
      opacity: 0.5;
      max-width: 70%;
      align-self: center;
      justify-self: center;
    }
  }

  &-quote {
    text-align: center;
    padding: 30px 0;
    background-color: #f2f3f5;
    @media only screen and (min-width: $breakpoint-small) {
      padding: 60px 0;
    }
    .client-quote-list {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: none;

        &.is-active {
          display: block;
        }
      }
    }

    blockquote {
      font-size: 1.5em;
      line-height: 1.5;
      font-weight: 200;
      font-style: italic;
      margin: 0 auto;
      position: relative;
      @media only screen and (min-width: $breakpoint-small) {
        max-width: 65%;
      }
    }

    hr {
      width: 30px;
      margin: 40px auto 20px;
    }

    h5 {
      font-size: 1.6em;
      margin: 0;
      font-weight: 300;
      margin-bottom: 15px;
    }

    h6 {
      font-size: 1.2em;
      margin: 0;
      font-weight: 700;
      color: #292b32;
    }
  }
}
