.header {

  &Actions {
    font-size: 0.8em;
    background-color: #292b32;
    height: 45px;
    letter-spacing: 0.02em;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0;
    }

    li {
      color: #949599;

      a {
        color: #3e95e4;
        text-decoration: none;
      }
    }
  }

  &Contacts {
    li:not(:last-child) {
      margin-right: 20px;
    }

    i {
      color: #949599;
      transition: color 0.4s ease-out;
      font-size: 0.9em;
      margin-right: 5px;
      @media only screen and (max-width: $breakpoint-small) {
        font-size: 1.1em;
        color: #3e95e4;
      }
      }
    a .txt {
      @media only screen and (max-width: $breakpoint-small) {
        display: none;
      }
    }
    &--title {
      @media only screen and (max-width: $breakpoint-med) {
        display: none;
      }
    }
  }

  &Brand {
    display: flex;
    height: 60px;
    justify-content: center;
    position: relative;
    @media only screen and (min-width: $breakpoint-med) {
      justify-content: flex-start;
    }
    img {
      width: 200px;
    }
    .mobileNavigation {
      position: absolute;
      left: -15px;
      @media only screen and (min-width: $breakpoint-med) {
        display: none;
      }
    }
  }

  &Navigation {
    display: none;
    @media only screen and (min-width: $breakpoint-med) {
      display: flex;
    }
    flex-direction: row;
    justify-content: flex-end;
    button {
      @media only screen and (max-width: $breakpoint-large) {
        display: none;
      }
    }
  }
}
.sticky-header-placeholder {
  height: 76px;
  background-color: white;
  width: 100%;
}
#sticky-header{
  background-color: rgba(255,255, 255,0.9);
  &.is-stuck {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
  }
}
