footer {
  background-color: #292b32;
  color: #cccccc;
}


.footer {
  &Base {
    height: 80px;
    border-top: 1px solid rgba(255, 255, 255, .1);
  }

  &Copyright {
    p {
      color: #cccccc;
      font-size: 0.8em;
      font-weight: 300;
      margin: 0;
    }
  }

  &Social {
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0;
    }

    li {
      color: #949599;

      a {
        color: #3e95e4;
        text-decoration: none;
      }
    }
  }
}
